
/*Load fonts*/
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/PlayfairDisplay-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/PlayfairDisplay-Bold.otf") format("opentype"), /* Open Type Font */
  url("../fonts/PlayfairDisplay-Bold.svg") format("svg"), /* Legacy iOS */
  url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), /* Modern Browsers */
  url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBT-Light";
  src: url("../fonts/FuturaLightBT.eot"); /* IE9 Compat Modes */
  src: url("../fonts/FuturaLightBT.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/FuturaLightBT.otf") format("opentype"), /* Open Type Font */
  url("../fonts/FuturaLightBT.svg") format("svg"), /* Legacy iOS */
  url("../fonts/FuturaLightBT.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/FuturaLightBT.woff") format("woff"), /* Modern Browsers */
  url("../fonts/FuturaLightBT.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "FuturaBT-Light";

}
/*End of fonts*/

header{

  height: 56px;
  background: #e7e3e0;
  padding-top: 4px;

  .logo img{
        width: 107px;
        height: 100%;
        margin: 0 auto;
        display: block;
  }

}/*end of the header*/
.breadcrumb{
  background: no-repeat;
  padding: 40px 0px 10px 15px;

  h6{
    font-family: "FuturaBT-Light";
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
  }
}


/*start inner_page*/
.inner_page{
  .product_image{
    img{
      max-width: 100%;
    }
  }
  .product_actions{
    padding-top: 50px;
    h1{
      font-family: 'PlayfairDisplay-Bold';
      span{
        font-family: "FuturaBT-Light";
        display: block;
        opacity: .4;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .5px;
      }
    }
    .price{
      padding-top: 20px;
      font-family: "FuturaBT-Light";
      .currency{

      }
    }
  }/*end of products actions*/
}  /*end of inner_page*/

/*start inner_cart*/
.tab-content>.tab-pane {
  padding-top: 20px;
}
.inner_cart{
  padding-bottom: 100px;
  hr divider{

  }
  .cart_section{
    padding-left: 0;
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      color: #495057;
      background-color: #fff;
      border-color: #dee2e6 #dee2e6 #fff;
    }
    .nav-tabs .nav-link {
      border: 1px solid transparent;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      font-family: "FuturaBT-Light";
      text-transform: uppercase;
    }

    .nav-tabs .nav-item {
      margin-bottom: -1px;
      background: #f3f3f3;
      width: 50%;
    }

    .nav-tabs .nav-item a {
      color: #444;
      font-size: 13px;
      letter-spacing: .4px;
    }
    .product_price{
      p, span{
        font-family: "FuturaBT-Light";
      }
    }
    .product_image img{
      width: 120px;
      height: auto;
    }
    .product_infos{
      h6{
        font-family: PlayfairDisplay-Bold;
        font-size: 18px;
        span{
          font-family: "FuturaBT-Light";
          display: block;
          text-transform: uppercase;
          opacity: .4;
          letter-spacing: 1.57px;
          font-size: 11px;
        }
      }
      .delete, .wishlist{
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 10px;
        font-family: "FuturaBT-Light";
        padding-top: 20px;
      }
      .capacity{
        font-family: "FuturaBT-Light";
      }
      .price{
        font-family: "FuturaBT-Light";
      }
      .qty{
        font-family: "FuturaBT-Light";

        .input-group-btn button{
          border: 1px solid #d6d6d6;
          border-radius: 0;
          padding: 0;
          height: 18px;
          width: 18px;
          line-height: 0;
        }
        .input-group input{
          height: 27px;
          width: 36px;
          flex: inherit;
          font-size: 12px;
          border: none;
        }
      }
    }/*End of product infos*/
  }/*end of cart_section*/
.cart_summary{
  .title h4{
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 34px;

  }

  .title, .subtotal, .shipping, .gift, .cupon, .total, p{
    padding: 7px 0;
    padding-bottom: 7px;
    margin-bottom: 0;
  }
  .title, .subtotal, .shipping, .gift, .cupon, .total, img{
    margin-top: -7px;
  }
.gift{
  button{
    border: 1px solid;
    text-align: center;
    padding: 7px 20px;
    margin-bottom: -24px;
    width: 100%;
  }
}
  .cupon {
    button{
      border: 1px solid;
      text-align: center;
      padding: 7px 20px;
      margin-bottom: -24px;
      width: 100%;

    }
  }
  .total{
    padding: 20px 0;
    p {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
  .help{
    background: #f3f3f3;
    height: 36px;
    font-family: "FuturaBT-Light";
    text-transform: uppercase;
    font-size: 11px;
    p{
      background: #f3f3f3;
      height: 36px;
      font-family: "FuturaBT-Light";
      line-height: 24px;
      text-transform: uppercase;
      font-size: 11px;

    }
    a{
      color: #444;
      text-decoration: underline;
      opacity: 0.5;
      line-height: 33px;
      float: right;
    }
  }
.order_now{
  button{
    background: #000;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
    width: 100%;
    border: none;
  }
}
}/*end of cart_summary*/
}  /*end of inner_cart*/
footer{
  background: #000;
  color: #fff;
  font-family: "FuturaBT-Light";
  padding:30px 0 2px 0;
  hr{
    background: white;
    opacity: .2;
  }
  p{
    font-size: 14px;
  }
  .logo{
    width: 100px;
    padding-bottom: 21px;
  }
  .pagamenti{
    width:152px;
    height: auto;
  }
  img{

  }
  h5{
    font-size:15px;
    text-transform: uppercase;
  }
  ul{
    list-style: none;
    padding-left: 11px;
  }
  li a{
    color: #fff;
  }
  li a:hover{
    color: #fff;
    text-decoration: none;
  }
  .post_footer{
    font-size: 11px;
    text-align: center;
  }
}