/*Load fonts*/
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/PlayfairDisplay-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold.otf") format("opentype"), url("../fonts/PlayfairDisplay-Bold.svg") format("svg"), url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaBT-Light";
  src: url("../fonts/FuturaLightBT.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FuturaLightBT.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaLightBT.otf") format("opentype"), url("../fonts/FuturaLightBT.svg") format("svg"), url("../fonts/FuturaLightBT.ttf") format("truetype"), url("../fonts/FuturaLightBT.woff") format("woff"), url("../fonts/FuturaLightBT.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "FuturaBT-Light";
}

/*End of fonts*/
header {
  height: 56px;
  background: #e7e3e0;
  padding-top: 4px;
}
header .logo img {
  width: 107px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

/*end of the header*/
.breadcrumb {
  background: no-repeat;
  padding: 40px 0px 10px 15px;
}
.breadcrumb h6 {
  font-family: "FuturaBT-Light";
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
}

/*start inner_page*/
.inner_page {
  /*end of products actions*/
}
.inner_page .product_image img {
  max-width: 100%;
}
.inner_page .product_actions {
  padding-top: 50px;
}
.inner_page .product_actions h1 {
  font-family: "PlayfairDisplay-Bold";
}
.inner_page .product_actions h1 span {
  font-family: "FuturaBT-Light";
  display: block;
  opacity: 0.4;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.inner_page .product_actions .price {
  padding-top: 20px;
  font-family: "FuturaBT-Light";
}
/*end of inner_page*/
/*start inner_cart*/
.tab-content > .tab-pane {
  padding-top: 20px;
}

.inner_cart {
  padding-bottom: 100px;
  /*end of cart_section*/
  /*end of cart_summary*/
}
.inner_cart .cart_section {
  padding-left: 0;
  /*End of product infos*/
}
.inner_cart .cart_section .nav-tabs .nav-item.show .nav-link, .inner_cart .cart_section .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.inner_cart .cart_section .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-family: "FuturaBT-Light";
  text-transform: uppercase;
}
.inner_cart .cart_section .nav-tabs .nav-item {
  margin-bottom: -1px;
  background: #f3f3f3;
  width: 50%;
}
.inner_cart .cart_section .nav-tabs .nav-item a {
  color: #444;
  font-size: 13px;
  letter-spacing: 0.4px;
}
.inner_cart .cart_section .product_price p, .inner_cart .cart_section .product_price span {
  font-family: "FuturaBT-Light";
}
.inner_cart .cart_section .product_image img {
  width: 120px;
  height: auto;
}
.inner_cart .cart_section .product_infos h6 {
  font-family: PlayfairDisplay-Bold;
  font-size: 18px;
}
.inner_cart .cart_section .product_infos h6 span {
  font-family: "FuturaBT-Light";
  display: block;
  text-transform: uppercase;
  opacity: 0.4;
  letter-spacing: 1.57px;
  font-size: 11px;
}
.inner_cart .cart_section .product_infos .delete, .inner_cart .cart_section .product_infos .wishlist {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "FuturaBT-Light";
  padding-top: 20px;
}
.inner_cart .cart_section .product_infos .capacity {
  font-family: "FuturaBT-Light";
}
.inner_cart .cart_section .product_infos .price {
  font-family: "FuturaBT-Light";
}
.inner_cart .cart_section .product_infos .qty {
  font-family: "FuturaBT-Light";
}
.inner_cart .cart_section .product_infos .qty .input-group-btn button {
  border: 1px solid #d6d6d6;
  border-radius: 0;
  padding: 0;
  height: 18px;
  width: 18px;
  line-height: 0;
}
.inner_cart .cart_section .product_infos .qty .input-group input {
  height: 27px;
  width: 36px;
  flex: inherit;
  font-size: 12px;
  border: none;
}
.inner_cart .cart_summary .title h4 {
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 34px;
}
.inner_cart .cart_summary .title, .inner_cart .cart_summary .subtotal, .inner_cart .cart_summary .shipping, .inner_cart .cart_summary .gift, .inner_cart .cart_summary .cupon, .inner_cart .cart_summary .total, .inner_cart .cart_summary p {
  padding: 7px 0;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.inner_cart .cart_summary .title, .inner_cart .cart_summary .subtotal, .inner_cart .cart_summary .shipping, .inner_cart .cart_summary .gift, .inner_cart .cart_summary .cupon, .inner_cart .cart_summary .total, .inner_cart .cart_summary img {
  margin-top: -7px;
}
.inner_cart .cart_summary .gift button {
  border: 1px solid;
  text-align: center;
  padding: 7px 20px;
  margin-bottom: -24px;
  width: 100%;
}
.inner_cart .cart_summary .cupon button {
  border: 1px solid;
  text-align: center;
  padding: 7px 20px;
  margin-bottom: -24px;
  width: 100%;
}
.inner_cart .cart_summary .total {
  padding: 20px 0;
}
.inner_cart .cart_summary .total p {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.inner_cart .cart_summary .help {
  background: #f3f3f3;
  height: 36px;
  font-family: "FuturaBT-Light";
  text-transform: uppercase;
  font-size: 11px;
}
.inner_cart .cart_summary .help p {
  background: #f3f3f3;
  height: 36px;
  font-family: "FuturaBT-Light";
  line-height: 24px;
  text-transform: uppercase;
  font-size: 11px;
}
.inner_cart .cart_summary .help a {
  color: #444;
  text-decoration: underline;
  opacity: 0.5;
  line-height: 33px;
  float: right;
}
.inner_cart .cart_summary .order_now button {
  background: #000;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  padding: 10px;
  width: 100%;
  border: none;
}

/*end of inner_cart*/
footer {
  background: #000;
  color: #fff;
  font-family: "FuturaBT-Light";
  padding: 30px 0 2px 0;
}
footer hr {
  background: white;
  opacity: 0.2;
}
footer p {
  font-size: 14px;
}
footer .logo {
  width: 100px;
  padding-bottom: 21px;
}
footer .pagamenti {
  width: 152px;
  height: auto;
}
footer h5 {
  font-size: 15px;
  text-transform: uppercase;
}
footer ul {
  list-style: none;
  padding-left: 11px;
}
footer li a {
  color: #fff;
}
footer li a:hover {
  color: #fff;
  text-decoration: none;
}
footer .post_footer {
  font-size: 11px;
  text-align: center;
}

/*# sourceMappingURL=app.css.map */
